$colorPrincipal: #d1a7ba;
$colorSecundario: #338b85;

$color: #b98aa0;
$colorSecundario: #9ce0db;

$tamañoTexto: 50px;

$colorDetallesPrincipal: #60374b;
$colorDetallesSecundario: #005954;

$colorMenuPrincipal: #9b6d82;
$colorMenuSecundario: #5dc1b9;

$colorTituloPrincipal: #9b6d82;
$colorTituloSecundario: #005954;

